@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f1f1f1;
    color: #0f141e;
  
    font: normal 19px 'Roboto', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}
    .Avatar {
        width: 250px;
        border-radius: 28px;
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 025);
    }
.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
 /* .Social {
    background: red;
    padding: 15px;
    border: 5px solid brown;
 } */
 .container { 
   max-width: 1000px;
   margin: auto;
   padding: 0px;

}
.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ffe5e5;
}
.info {margin-bottom: 20px;
       display: flex;}
       @media (max-widht:700px){
        .info {
            display: block;
            text-align: center;
        }
       }
.card h2 {
    margin-bottom: 20px;
}
.list li {
    color: rgb(102, 98, 98);
    margin-bottom: 10px;
}
.table {
    width: 100%;
}
.table td {
   padding-bottom: 10px;
}
.contact h2 {
    text-align: center;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: #1d1e1f;
}
.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    /* background: transparent; */
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px ;
    outline: none;
    font-family: inherit;
}
.row {
    display: flex;
    margin-bottom: 20px;
}
.row >.form-group {
    width: 50%;
    margin-right: 20px;
}
.row >.form-group:first-child{
    margin-right: 0;
}
.info-text {
    margin-left: 50px;
}
.btn {
    background: #111;
    color: #fff;
    padding: 15px 20px;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
.position {
    border: 4px solid black;
    margin-top: 40px;
    padding: 10px;

}
.box {
    width: 50px;
    height: 50px;
    background: lightcoral;

}